rank-bm25
fastapi
uvicorn
pydantic
psycopg2-binary
python-dotenv
openai
transformers
huggingface-hub
langchain-huggingface
chromadb
langchain-community
langchain-text-splitters
pypdf
sentence-transformers
prometheus-fastapi-instrumentator
vllm
langchain