rank-bm25
fastapi
uvicorn
pydantic
psycopg2-binary
python-dotenv
openai
transformers
huggingface-hub
langchain-huggingface
chromadb
langchain-community
langchain-text-splitters
langchain-core
pypdf
sentence-transformers
langchain


crewai
langgraph-checkpoint-sqlite


fastmcp
aiosqlite
beautifulsoup4


prometheus-fastapi-instrumentator
vllm


redis

PyMuPDF
pdfplumber
pytesseract
Pillow
